.layer-container {
  width: 380px;
  height: 90px;
  .radios {
    margin: 0 auto;
  }
  span {
    color: #fff;
  }
  .ant-row {
    margin: 6px 0;
  }
  .tag {
    font-size: 10px;
    width: 100px;
    height: 16px;
    margin: auto 0;
    color:black;
    text-align: center;
  }
}
.ant-radio-disabled + span {
  color:rgb(196, 196, 196)!important;
}
.ant-radio-disabled .ant-radio-inner {
  background-color: transparent!important;
}
